---
#
# Ansible managed
#

name: Release to Ansible Galaxy

on:
  release:
    types:
      - published
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: galaxy
        uses: buluma/galaxy-action@v6.25.22
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
